# Dependencies
node_modules
.pnp
.pnp.js

# Production
dist
build

# Environment & Secrets
.env
.env.local
.env.*.local
*.local

# System & IDE
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea
.vscode

